img{
    width: 150px;
    height: 150px;

}
body{
    background: #B8B5FF;
}
input{
    font-size: 35px;
    background: #FFAB73;
}
p{
    font-size: 35px;
}

h4{
    font-size: 25px;
    background: #FFD384;
}